variance
*.res
*.bar
*.cpp
*.cov
*.cor
*.dep
*.hes
*.rpt
*.log
*.aux
*.out
*.cpp
*.pdf
*.txt
*.eva
*.exe
*.htp
*.obj
*.par
*.rep
*.std
*.b0*
*.b1*
*.b2*
*.eq*
*.d
*.p0*
*.p1*
*.p2*
*.r0*
*.r1*
*.r2*

.RData
.RHistory
